<%= form_for @wiki do |f| %>

  <% if @wiki.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@wiki.errors.count, "error") %>.</h4>
      <ul>
        <% @wiki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter an eyecatching title here" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 20, class: 'form-control', placeholder: "Put all the good stuff here" %>
  </div>

  <%= original_submission_by %>

  <% if user_is_authorized_for_private_wikis %>
    <div class="form-group">
      <%= f.label :Premium_members_only, class: 'checkbox' %>
      <%= f.check_box :private %> Choose this option for editing by <strong>Premium members</strong> only.
  <% end %>
      <br><br>
      <%= f.submit "Save", class: 'btn btn-success' %>
      <%= link_to "Back to List", wikis_path, class: "btn btn-info" %></li>
    </div>
<% end %>
