
<h1><%= @wiki.title %></h1>

 <div class="row">
   <div class="col-md-8">
     <p class="lead">
       <%= @wiki.body %></p>
       <div>
          <h3>References</h3>
          <%= render @wiki.references %>
        </div>
        <% if current_user %>
           <%= render 'references/form', reference: Reference.new, wiki: @wiki %>
        <% end %>
        </div>
      </div>


     <% if @wiki.private? && user_is_authorized_for_private_wikis%>
        <%= link_to "Edit Wiki", edit_wiki_path, class: 'btn btn-success' %>
        <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this Wiki?' } %>
     <% elsif !@wiki.private? %>
     <%= link_to "Edit Wiki", edit_wiki_path, class: 'btn btn-success' %>
     <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this Wiki?' } %>
     <% end %>
     <br><br><br>
     <%= link_to "Back to List", wikis_path, class: 'btn btn-primary' %><br>
   </div>
