
<h1><%= @wiki.title %></h1>

 <div class="row">
   <div class="col-md-8">
     <p class="lead">
       <%= @wiki.body %>
     </p>
     <p><small><%= original_submission_by %></small></p><br>
     <p>
       <% if wiki_references_exist? || current_user_is_owner? %>
          <h2>References for this Wiki:</h2>
            <% if current_user_is_owner? %>
            Please add at least one reference<br>
              <%= link_to "Add a reference", new_wiki_reference_path(@wiki), class: "btn btn-info" %><br><br>
            <% end %>
          <% @references.each do |r| %>
            <%= link_to "Edit", edit_wiki_reference_path(@wiki, r) %>
            <%= r.created_at %>
            <%= r.name %>
            <%= link_to r.link, r.link %><br>
         <% end %>
      <% end %>
     </p>
      <div class="row">
        <div class="col-md-8">
          <br><br><br>
          <%= link_to "Back to List", wikis_path, class: 'btn btn-info' %>
          <% if user_is_authorized_to_edit_wikis? %>
            <%= link_to "Edit Wiki", edit_wiki_path, class: 'btn btn-success' %>
            <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this Wiki?' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
